@import "bootstrap/bootstrap";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Nunito', sans-serif;
}

.store {
  &__list-title {
    font-size: 2rem;
    font-weight: 700;
    margin: .8rem 0;
  }
}

